<!doctype html>
<html>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <head>    
        
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10 "targetPath" "assets/css/main.css")).Permalink }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="google" content="notranslate" />
        {{ if eq .Params.layout "post" }} 
        {{ if .Params.canonical_url }}
        <link rel="canonical" href="{{ .Params.canonical_url }}"/>
        {{ end }}
        {{ end }}
        
    </head>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "Esta pagina utiliza cookies para saber más información sobre el usuario y proporcionar una mejor experiencia web. ",
    "dismiss": "Acepto",
    "link": "Saber más"
  }
});
</script>
    <body>
        
        <div class="wrapper">
            {{ partial "header.html" . }}
            <div class="container">
                {{ block "content" . }}{{ end }}
            </div>
            {{ partial "footer.html" . }}
        </div>
        <!-- Scripts -->
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
    </body> 
</html>
